*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url("../sokohubimg/4.jpeg");
    height: 80vh;
    
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
     gap: 12x;
    width: 25vw;
    height: 40vh;
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
   background-image: url("../sokohubimg/5.jpeg");
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     color: aliceblue;
     cursor: pointer;
 
}
 .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 50px;
    border-color: white;
       
 } 
 .input input[type="text"],
.input input[type="tel"],
.input input[type="password"]
{
    width: 270px;
    padding: 12px 14px;
    border-radius: 29px;
    border: 1px solid rgba(0,0,0,0.08);
    background:#35cf21;
    
    color:#222;
    font-size: 14px;
    outline: none;
    transition: box-shadow .12s, border-color .12s;
    
}
.btn1{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 200px;
    height: 30px;
    font-weight: bold;
    border-radius: 29px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    background:#35cf21;
}
h2{
    color: rgb(255, 176, 5);
    font-size: 30px;
    text-wrap: inherit;
}
